<div class="footer">
    <h4 style="text-align: center;"><span>  열린 프로젝트  </span></h4>

        <div class="footer-card-container">
            <a href="https://www.contribution.ac/">
                <img src="{{site.baseurl}}/assets/images/manage/2025-OSSCA.jpg" class="footer-card" alt="이미지" />
            </a>
            &nbsp;
            <a href="https://www.contribution.ac/">
                <img src="{{site.baseurl}}/assets/images/manage/HF_OSS.jpg" class="footer-card" alt="이미지" />
            </a>
            <!-- NOTE: 진행 중인 프로젝트가 있을때 uncomment 해주세요 -->
            <!-- <h5 style="text-align: center;"><span> 진행 중 </span></h4> -->
        </div>
</div>
