---
layout: default
disqus: false
archive: false
post_class: post-template
---

<!-- Begin Article
================================================== -->

	<div class="row">

		<!-- Post -->        
        {% assign author = site.authors[page.author] %}

        <!-- Post Featured Image -->
            
        {% if page.image %}
            <div id="featured-image">
                <img class="back-image img-fluid rounded" src="{{ site.baseurl }}/{{ page.image }}" alt="{{ page.title }}">    
                <img class="featured-image img-fluid rounded" src="{{ site.baseurl }}/{{ page.image }}" alt="{{ page.title }}">    
            </div>
        {% endif %}
        <!-- End Featured Image -->

		<div class="col-sm-8">
			<div class="mainheading">             
                
                <!-- Post Categories -->
                <div class="after-post-tags">
                    <ul class="tags">
                        {% assign sortedCategories = page.categories | sort %}
                        {% for category in sortedCategories %}
                        <li>
                         <a href="{{ site.baseurl }}/categories#{{ category | slugify }}">{{ category }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- End Categories -->
                
                <!-- Post Title -->
				<h1 class="posttitle">{{ page.title }}</h1> 
                
			</div>

			

			<!-- Post Content -->
			<div class="article-post serif-font">
				{{content}}
                <div class="clearfix"></div>
			</div>

            <!-- Post Date -->
            <p>

            <small>
                <span class="post-date"><time class="post-date" datetime="{{ page.date | date:" %Y-%m-%d" }}">{{
                        page.date | date_to_string }}</time></span>
                {% if page.last_modified_at %}
                (Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{
                    page.last_modified_at | date: "%b %-d, %Y" }}</time>)
                {% endif %}
            </small>
        </p>


        <!-- Begin Comments
            ================================================== -->
        <section>
            <div id="comments">
                {% include disqus.html %}
            </div>
        </section>
        <!--End Comments
            ================================================== -->



    </div>
    <button class="sidebar-toggle-btn d-lg-none" aria-label="Toggle Sidebar">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
    </button>
    <div class="col-sm-4 sidebar-wrapper">
        {% include toc.html %}
    </div>
</div>


<!-- Author Box -->
{% if page.author %}
<div class="row post-top-meta ">
    <div class="profile">
        <img class="author-thumb" src="{{site.baseurl}}/{{author.avatar}}" alt="{{ author.display_name }}">
    </div>
    <div class="desc">
        <a target="_blank" class="link-dark" href="{{ author.web }}">{{ author.display_name }}</a>
        <span class="author-description">{{ author.description }}</span>                        
    </div>
</div>
{% endif %}

<!-- footer -->
<div class="row post-footer">
    {% include footer.html %}
</div>
    <!-- End Article
================================================== -->

<!-- Posts List with Sidebar (except featured)
================================================== -->
{% assign current_category = page.categories | first %}
{% if current_category %}
  {% assign target_posts = site.categories[current_category] %}
{% else %}
  {% assign target_posts = site.posts %}
{% endif %}

<section class="category-filter-section mb-5">
  <div class="category-filters">
    <div class="filter-tabs">
      {% if current_category %}
      <button class="filter-btn active" data-category="{{ current_category | slugify }}">
        {{ current_category }}
        <span class="count">{{ target_posts.size }}</span>
      </button>
      {% else %}
      <button class="filter-btn active" data-category="all">
        All
        <span class="count">{{ target_posts.size }}</span>
      </button>
      {% endif %}
    </div>
  </div>
</section>


<section class="row featured-posts">
  {% for post in target_posts %}
      {% if post.featured == true %}
          <div class="col-md-4 mb-5 post-item" data-categories="{% for cat in post.categories %}{{ cat | slugify }} {% endfor %}">
          {% include postbox.html %}
          </div>
      {% endif %}
  {% endfor %}
</section>

<section class="row">
  <div class="col-sm-12">
    <div class="row posts-container">
      {% assign banners = target_posts | where_exp: "post", "post.categories contains 'banner'" %}
          {% for post in banners %}
            {% unless post.featured == true %}
              <div class="col-md-4 mb-5 post-item" data-categories="{% for cat in post.categories %}{{ cat | slugify }} {% endfor %}">
                {% include postbox.html %}
              </div>
            {% endunless %}
          {% endfor %}
      {% for post in target_posts %}
      {% unless post.featured == true or post.categories contains 'banner' %}
      <div class="col-md-4 mb-5 post-item" data-categories="{% for cat in post.categories %}{{ cat | slugify }} {% endfor %}">
        {% include postbox.html %}
      </div>
      {% endunless %}
      {% endfor %}
    </div>
  </div>
</section>